# Server
PROTOCOL=http
SERVER_HOST=0.0.0.0
SERVER_PORT=
SERVER_GROUP=account

# GitHub
GITHUB_TOKEN=

# Cors
CORS_ALLOWED_ORIGINS=turistikrota.com,http://localhost:3040,http://turistikrota.com
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS,PATCH
CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-Turnstile-Token,Access-Control-Allow-Credentials
CORS_ALLOW_CREDENTIALS=true

# Json Web Token
RSA_PRIVATE_KEY=/run/secrets/jwt_private_key
RSA_PUBLIC_KEY=/run/secrets/jwt_public_key

# MongoDB

# Account DB
MONGO_ACCOUNT_HOST=
MONGO_ACCOUNT_PORT=
MONGO_ACCOUNT_USERNAME=
MONGO_ACCOUNT_PASSWORD=
MONGO_ACCOUNT_DATABASE=
MONGO_ACCOUNT_COLLECTION=
MONGO_ACCOUNT_QUERY=authSource=admin

# Platform DB
MONGO_PLATFORM_COLLECTION=

# REDIS

# Base Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Redis Cache
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_DB=

# I18n
I18N_FALLBACK_LANGUAGE=en
I18N_DIR=./src/locales
I18N_LOCALES=en,tr

# Nats & Jetsream Streaming
NATS_URL=
NATS_STREAMS=Auth,Session,Account,Platform

# Base HTTP Settings
HTTP_HEADER_DOMAIN=

# Base Token Settings
TOKEN_EXPIRATION=60
TOKEN_PROJECT=turistikrota

# --- Streaming Topics --- #
SESSION_TOPIC=Session

# Account Streams
STREAMING_TOPIC_ACCOUNT_DELETED=Account.Deleted
STREAMING_TOPIC_ACCOUNT_CREATED=Account.Created
STREAMING_TOPIC_ACCOUNT_UPDATED=Account.Updated
STREAMING_TOPIC_ACCOUNT_DISABLED=Account.Disabled
STREAMING_TOPIC_ACCOUNT_ENABLED=Account.Enabled
STREAMING_TOPIC_ACCOUNT_SOCIAL_ADDED=Account.SocialAdded
STREAMING_TOPIC_ACCOUNT_SOCIAL_UPDATED=Account.SocialUpdated
STREAMING_TOPIC_ACCOUNT_SOCIAL_REMOVED=Account.SocialRemoved

# Platform Streams
STREAMING_TOPIC_PLATFORM_CREATED=Platform.Created
STREAMING_TOPIC_PLATFORM_UPDATED=Platform.Updated
STREAMING_TOPIC_PLATFORM_DELETED=Platform.Deleted
STREAMING_TOPIC_PLATFORM_DISABLED=Platform.Disabled
STREAMING_TOPIC_PLATFORM_ENABLED=Platform.Enabled
STREAMING_TOPIC_PLATFORM_TRANSLATION_CREATED=Platform.TranslationCreated
STREAMING_TOPIC_PLATFORM_TRANSLATION_UPDATED=Platform.TranslationUpdated
STREAMING_TOPIC_PLATFORM_TRANSLATION_REMOVED=Platform.TranslationRemoved